@model DepartmentDetailsToReturnDTO

@{
    ViewData["Title"] = "Delete";
    ViewBag.Botton = "Delete";

}

<h1>Are You sure that you want to Delete this department ?</h1>
<br />
<br />
<partial name="Partials/DetailsDeleteDepartmentPartial" />
