@model EmployeeDetailsDTO
@{
    ViewData["Title"] = "Delete";
}

<h1>Are You sure that you want to Delete this Employee ?</h1>
<br />
<br />

<partial name="Partials/DetailsDeleteEmployeePartial" />
